version: '3.8'

services:
  app-server-django:
    build: ./
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/usr/src/app/
    ports:
      - 5000:8000
    env_file:
      - ./.env